<div class="container-login100" style="background-image: url('../../assets/img/back7.png');">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form *ngIf="loginOpen()" #formLogin="ngForm" (ngSubmit)="login(formLogin.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					<img src="assets/img/jukebox_logo.png" style="height: 100px; width: 100px">
          <h6 id="title">Jukebox Party</h6>
				</span>

      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
        <input ngModel class="input100" type="text" name="email" placeholder="email" >
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        <input ngModel class="input100" type="password" name="password" placeholder="senha">
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
          Logar
        </button>
        <button id="cadastroBtn" ngModel name="cadastroBtn" type="submit" class="login100-form-btn">
          Cadastre-se
        </button>
      </div>
    </form>


    <form *ngIf="cadastorOpen()" #formCadastro="ngForm" (ngSubmit)="cadastroForm(formCadastro.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					<img src="assets/img/jukebox_logo.png" style="height: 100px; width: 100px">
          <h6 id="title">Jukebox Party</h6>
				</span>

      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
        <input ngModel class="input100" type="text" name="email" placeholder="email" >
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        <input ngModel class="input100" type="password" name="password" placeholder="senha">
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
          Cadastrar
        </button>
      </div>
    </form>

  </div>
</div>
