<div class="container-login100" style="background-image: url('../../assets/img/back7.png');">

  <div  *ngIf="loginOpen()"  class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form #formLogin="ngForm" (ngSubmit)="login(formLogin.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					<img src="assets/img/jukebox_logo.png" style="height: 100px; width: 100px">
          <h6 id="title">Antes Tardis</h6>
				</span>

      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
        <input ngModel class="input100" type="text" name="email" placeholder="email" >
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        <input ngModel class="input100" type="password" name="password" placeholder="senha">
        <span class="focus-input100"></span>
      </div>



      <div class="container-login100-form-btn">

        <button type="submit" class="login100-form-btn">
          Logar
        </button>
        <button id="cadastroBtn" ngModel name="cadastroBtn" (click)="openCadastro(formLogin.value)" class="login100-form-btn">
          Cadastre-se
        </button>
      </div>
      <br>
      <div class="container-login100-form-btn">
        <h5 (click)="openEsqueceuSenhaEmail()">Esqueceu sua senha? Clique aqui</h5>
      </div>
      <br>
    </form>
  </div>

  <div *ngIf="cadastorOpen()" class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form  #formCadastro="ngForm" (ngSubmit)="cadastroForm(formCadastro.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					<img src="assets/img/jukebox_logo.png" style="height: 100px; width: 100px">
          <h6 id="title">Antes Tardis</h6>
				</span>

      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
        <input ngModel class="input100" type="text" name="email" placeholder="email" >
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        <input ngModel class="input100" type="password" name="password" placeholder="senha">
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
          Cadastrar
        </button>
      </div>
      <br>
      <div class="container-login100-form-btn">
        <button (click)="closeCadastro(formCadastro.value)" class="login100-form-btn">
          Cancelar
        </button>
      </div>
    </form>
  </div>


  <div *ngIf="esqueceuSenhaEmailOpen()" class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form  #formEsqueceuSenhaEmail="ngForm" (ngSubmit)="esqueceuSenhaEmailForm(formEsqueceuSenhaEmail.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					<img src="assets/img/jukebox_logo.png" style="height: 100px; width: 100px">
          <h6 id="title">Antes Tardis</h6>
				</span>

      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
        <input ngModel class="input100" type="text" name="email" placeholder="Digite seu email" >
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
          Conferir Email
        </button>
      </div>
      <br>
      <div class="container-login100-form-btn">
        <button (click)="closeEsqueceuSenhaEmail(formEsqueceuSenhaEmail.value)" class="login100-form-btn">
          Cancelar
        </button>
      </div>
    </form>
  </div>


  <div *ngIf="redigiteNovaSenhaOpen()" class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form  #formRedigiteSenhaForm="ngForm" (ngSubmit)="redigiteSenhaForm(formRedigiteSenhaForm.value)" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					<img src="assets/img/jukebox_logo.png" style="height: 100px; width: 100px">
          <h6 id="title">Antes Tardis</h6>
				</span>

      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
        <input ngModel class="input100" type="password" name="newPass" placeholder="Digite sua nova senha" >
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
        <input ngModel class="input100" type="password" name="reNewPass" placeholder="Redigite sua nova senha" >
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
          Trocar Senha
        </button>
      </div>
      <br>
      <div class="container-login100-form-btn">
        <button (click)="closeRedigiteNovaSenha(formRedigiteSenhaForm.value)" class="login100-form-btn">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
