<body>
<!-- Main container -->
<div class="container">

  <header class="bp-header cf">
    <div class="dummy-logo">
      <img src="assets/img/an.png" style="height: 60px; width: 60px">
      <h2 class="dummy-heading">Antes Tardis</h2>
    </div>
    <div class="bp-header__main">
      <span class="bp-header__present">lab151</span>
      <img src="assets/img/an.png" style="height: 60px; width: 60px">
      <h1 class="bp-header__title">Antes Tardis</h1>
    </div>
  </header>
  <button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
  <nav id="ml-menu" class="menu">
    <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
    <div class="menu__wrap">
      <ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="Todos">
        <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">Votação</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1" href="#">Escolha sua música</a></li>
      </ul>
      <!-- Submenu 1 -->
      <ul  data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu"
          aria-label="votacao">
        <li (click)="modifyStatePlaylistPick('rock')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                  aria-owns="submenu-1-1" href="#">Rock</a></li>
        <li (click)="modifyStatePlaylistPick('pop')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                  aria-owns="submenu-1-1" href="#">Pop</a></li>
        <li (click)="modifyStatePlaylistPick('indie')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                  aria-owns="submenu-1-2" href="#">Indie</a></li>
        <li (click)="modifyStatePlaylistPick('funk')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                                                             aria-owns="submenu-1-2" href="#">Funk</a></li>
        <li (click)="modifyStatePlaylistPick('80s')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                                                            aria-owns="submenu-1-2" href="#">Anos 80</a></li>
        <li (click)="modifyStatePlaylistPick('hip-hop')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                                                           aria-owns="submenu-1-2" href="#">Hip hop</a></li>
        <li (click)="modifyStatePlaylistPick('emo')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                                                               aria-owns="submenu-1-2" href="#">Emo</a></li>
      </ul>
      <!-- Submenu 1-1 -->
      <ul data-menu="submenu-1-1" id="submenu-1-1" class="menu__level" tabindex="-1" role="menu"
          aria-label="Sale %">
        <li class="menu__item" (click)="modifyStatePlaylistVote('artista')" role="menuitem"><a class="menu__link" href="#">Por artista</a></li>
        <li class="menu__item" (click)="modifyStatePlaylistVote('musica')" role="menuitem"><a class="menu__link" href="#">Por música</a></li>
      </ul>


      <!-- Submenu 2 -->
      <ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu"
          aria-label="escolha-uma-musica">

        <li (click)="modifyStatePlaylistPickView('rock')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Rock</a></li>
        <li (click)="modifyStatePlaylistPickView('indie')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Indie</a></li>
        <li (click)="modifyStatePlaylistPickView('pop')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Pop</a></li>
        <li (click)="modifyStatePlaylistPickView('funk')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Funk</a></li>
        <li (click)="modifyStatePlaylistPickView('80s')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Anos 80</a></li>
        <li (click)="modifyStatePlaylistPickView('hip-hop')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Hip hop</a></li>
        <li (click)="modifyStatePlaylistPickView('emo')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Emo</a></li>
      </ul>

    </div>
  </nav>
  <div class="content">
    <div  class="container_input_text">
      <p class="title" id="titulo">{{status}}</p>
      <p class="title">{{artistaSelecionado}}</p>
      <p class="subtitle">{{status2}}</p>
    </div>

    <div *ngIf="openSearchInput()">
    <form   #formPickSearch="ngForm" (ngSubmit)="search(formPickSearch.value)">


    <div  class="container_input_text2">
      <input ngModel name="inputSearch" id="inputSearchAll" type="text" class="form__field" placeholder="Digite aqui..." />
    </div>
    <div class="container_input_button">
      <button type="submit" class="btn fourth">Buscar</button>
      <button *ngIf="byMusic()" (click)="voltar()"  class="btn fourth">Voltar</button>
    </div>
    </form>

    </div>

    <div *ngIf="openHome()" class="container_input_home">
        <p >Bem-vindos a</p>
        <p class="pRosa">Antes Tardis do Que Nunca</p>
        <br>
        <h4>Acesse o menu ao lado e discoteque conosco!</h4>
    </div>



    <!--block Escolha por Artistas-->

    <ul *ngIf="openArtistasTable()"  id="searchArtists" class="products">
      <li *ngFor="let artist of artists" class="product">
        <div class="footer2">
          <div class="artistDescription">
            <div class="artistImg">
              <img src={{artist.photoUri}}>
            </div>
            <div class="nomeArtista">
            <h5>{{artist.name}}</h5>
              </div>
          </div>
          <div class="ok">
            <i class="fa fa-play-circle"  style="font-size:30px;"(click)="topTracksArtist(artist)"></i>
          </div>
        </div>
      </li>
    </ul>



    <!--block Top Tracks Artist-->
  <div *ngIf="openTopTracksArtist()">
    <div  class="container_input_text">
      <p class="title" style="font-weight: bold">Top Tracks do Spotify</p>
      <h5 class="title" style="font-weight: normal; margin-left: 0px; font-size: 18px; text-align: center">Sua música não está no top 10?</h5>
      <h5 class="title" style="font-weight: normal; margin-left: 0px; font-size: 16px; margin-top: 10px; text-align: initial; margin-bottom: 20px">Busque na barra de pesquisa acima :)</h5>
    </div>
    <ul    class="products">
      <li *ngFor="let music of musicsTopTracks" class="product">
         <div class="footer2">
            <div class="musicDescription">
              <h5>{{music.name}}</h5>
              <p>{{music.album}}</p>
            </div>
          <div class="ok">
            <i class="fa fa-play-circle"  style="font-size:30px;"(click)="showCardFinalEscolha(music)"></i>
            <!--<p (click)="showCardFinalEscolha(music)">e</p>-->
          </div>
        </div>
      </li>
    </ul>
  </div>

    <!--block Filtro Musica por artista-->
    <ul  *ngIf="openTracksArtisFilter()"  class="products">
      <li *ngFor="let music of musicsFilterArtist" class="product">
        <div class="footer2">
          <div class="musicDescription">
            <h5>{{music.name}}</h5>
            <p>{{music.album}}</p>
          </div>
          <div class="ok">
            <i class="fa fa-play-circle"  style="font-size:30px;" (click)="showCardFinalEscolha(music)"></i>
          </div>
        </div>
      </li>
    </ul>

    <!--block Card Final Escolha-->
    <ul *ngIf="openCardEscolha()" class="products">
      <li id="escolhaFinal" class="product">
        <div class="footer2">
          <div class="voteDescription">
            <div class="artistImg">
              <img src={{fotoMusicaEscolhida}}>
            </div>
            <div class="nomeArtista">
              <p>{{artistaEscolhido}}</p>
              <h5>{{musicEscolhida}}</h5>
            </div>
          </div>
          <div class="ok">
            <i class="fa fa-check-circle"  style="font-size:40px;  margin-bottom: 10px" (click)="pickSim()"></i>
            <i class="fa fa-times-circle"  style="font-size:40px;" (click)="pickNao()"></i>
          </div>
        </div>
      </li>
    </ul>

    <!--block Musics Playlists-->
    <ul *ngIf="openMusicPlaylistOpen()" class="products">
      <li *ngFor="let music of musicsPlaylists; let i = index" class="product">
        <div class="footer2">
          <div class="voteDescription">
            <div class="artistImg">
              <img src={{music.photoUri}}>
            </div>
            <div class="nomeArtista">
              <p>{{music.artist}}</p>
              <h5>{{music.name}}</h5>
              <p>Votos:   <b>{{music.likes}}</b></p>
            </div>
          </div>
          <div class="ok">
            <i class="fa fa-play-circle"  style="font-size:40px;" (click)="votar(music)"></i>
          </div>
        </div>
      </li>
    </ul>


    <!--block Vote Card-->
    <ul  *ngIf="openVoteCard()"class="products">
      <li id="voteCard" class="product">
      <div class="footer2">
        <div class="voteDescription">
          <div class="artistImg">
            <img src={{musicVotedPhotoUri}}>
          </div>
          <div class="nomeArtista">
            <p>{{musicVotedArtist}}</p>
            <h5>{{musicVotedName}}</h5>
          </div>
        </div>
        <div class="ok">
          <i class="fa fa-check-circle"  style="font-size:40px;  margin-bottom: 10px" (click)="voteSim()"></i>
          <i class="fa fa-times-circle"  style="font-size:40px;" (click)="voteNao()"></i>
        </div>
      </div>
      </li>
    </ul>


    <!--block Search Music-->
    <ul *ngIf="openSearchMusic()" class="products">
      <li *ngFor="let music of musicsBytrack; let i = index" class="product">
        <div class="footer2">
          <div class="musicDescription">
            <p>{{music.artist}}</p>
            <h5>{{music.name}}</h5>
            <p>{{music.album}}</p>
          </div>
          <div class="ok">
            <i class="fa fa-play-circle"  style="font-size:30px;" (click)="showCardFinalEscolha(music)"></i>
          </div>
        </div>
      </li>
    </ul>


  </div>
</div>

</body>
