/* Icons (made with Icomoon.io) */
@font-face {
  font-family: 'feather';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/feather/feather.eot?1gafuo');
  src: url('../../assets/fonts/feather/feather.eot?1gafuo#iefix') format('embedded-opentype'), url('../../assets/fonts/feather/feather.woff2?1gafuo') format('woff2'), url('../../assets/fonts/feather/feather.ttf?1gafuo') format('truetype'), url('../../assets/fonts/feather/feather.woff?1gafuo') format('woff'), url('../../assets/fonts/feather/feather.svg?1gafuo#feather') format('svg');
}

html {
  background-color: black;
}

/*li#escolhaFinal {*/
  /*height: 570px;*/
/*}*/

button#escolherArtista {
  margin-left: 56px;
}

.product .footer .btn-center .fourth{

}
#escolherMusicaTopTracks{
  margin-top: -100px;
}

#escolherMusicaByArtist{
  margin-top: -100px;
}

/*button#escolherPorMusica{*/
  /*margin-left: 56px;*/
/*}*/
button#escolherMusica {
  margin-left: 56px;
}

button#cancelar{
  margin-left: 86px;
}

button#confirmar{
  margin-left: 90px;
}

h5 {
  font-size: 10px;
}

div#status {
  margin-top: 30px;
  color: aqua;
}

.btnVoltar{
  margin-left: 39px;
}



.modal-aceite {
  box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c81854;
  float: inherit;
  background: #1c1d22;
  width: 599px;
  padding: 20px;
  margin-top: 50px;
}
.modal-aceite .top img{
  box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c81854;
  display: inline-block;
  margin-left: 130px;
  width: 290px;
  height: 300px;
  margin-top: 5px;
  border-radius: 700px;
  /*background: #1c1d22;*/
}


.icon {
  font-family: 'feather';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.icon--arrow-left:before {
  content: '\e901';
}

.icon--menu:before {
  content: '\e903';
}

.icon--cross:before {
  content: '\e117';
}


/* Menu styles */

.menu {
  position: fixed;
  top: 120px;
  left: 0;
  width: 300px;
  height: calc(100vh - 120px);
  background: #260538;
}

.menu__wrap {
  position: absolute;
  top: 3.5em;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

.menu__level {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  overflow-y: scroll;
  width: calc(100% + 50px);
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__level:focus {
  outline: none;
}

.menu__level--current {
  visibility: visible;
}

.menu__item {
  display: block;
  width: calc(100% - 50px);
}

.menu__link {
  font-weight: 600;
  position: relative;
  display: block;
  padding: 1em 2.5em 1em 1.5em;
  color: #fff;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

.menu__link[data-submenu]::after {
  content: '\e904';
  font-family: 'feather';
  position: absolute;
  right: 0;
  padding: 0.25em 1.25em;
  color: #fff;
}

.menu__link:hover,
.menu__link:focus,
.menu__link[data-submenu]:hover::after,
.menu__link[data-submenu]:focus::after {
  color: #25FFFF;
}

.menu__link--current::before {
  content: '\00B7';
  font-size: 1.5em;
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 0.5em;
  height: 4px;
  color: #25FFFF;
}

[class^='animate-'],
[class*=' animate-'] {
  visibility: visible;
}

.animate-outToRight .menu__item {
  -webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToRight {
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes outToRight {
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.animate-outToLeft .menu__item {
  -webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToLeft {
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes outToLeft {
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.animate-inFromLeft .menu__item {
  -webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes inFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate-inFromRight .menu__item {
  -webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes inFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

menu__breadcrumbs {
  font-size: 0.65em;
  line-height: 1;
  position: relative;
  padding: 2.5em 3.75em 1.5em 2.5em;
}

menu__breadcrumbs a {
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #25FFFF;
}

menu__breadcrumbs a:last-child {
  pointer-events: none;
}

menu__breadcrumbs a:hover,
menu__breadcrumbs a:focus {
  color: #25FFFF;
}

menu__breadcrumbs a:not(:last-child)::after {
  content: '\e902';
  font-family: 'feather';
  display: inline-block;
  padding: 0 0.5em;
  color: #33353e;
}

menu__breadcrumbs a:not(:last-child):hover::after,
menu__breadcrumbs a:not(:last-child):focus::after {
  color: #33353e;
}

.menu__back {
  font-size: 1.05em;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 2.25em;
  margin: 0;
  padding: 1.365em 0.65em 0 0;
  cursor: pointer;
  color: #fff;
  border: none;
  background: none;
}

.menu__back--hidden {
  pointer-events: none;
  opacity: 0;
}

.menu__back:hover,
.menu__back:focus {
  color: #fff;
  outline: none;
}


/* Open and close buttons */

.action {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.action:focus {
  outline: none;
}

.action--open {
  font-size: 1.5em;
  top: 1em;
  left: 1em;
  display: none;
  color: #fff;
  position: fixed;
  z-index: 1000;
}

.action--close {
  font-size: 1.1em;
  top: 1.25em;
  right: 1em;
  display: none;
  color: #fff;
}

@media screen and (max-width: 40em) {
  .action--open,
  .action--close {
    display: block;
  }
  .menu {
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100vh;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  .menu--open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}







/* General Blueprint Style */

@font-face {
  font-family: 'bpicons';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/bpicons/bpicons.eot');
  src: url('../../assets/fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/bpicons/bpicons.woff') format('woff'), url('../../assets/fonts/bpicons/bpicons.ttf') format('truetype'), url('../../assets/fonts/bpicons/bpicons.svg#bpicons') format('svg');
}/* Made with http://icomoon.io/ */


/* Resets */

*,
*:after,
*:before {
  box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}


/* Main styles */

body {
  font-family: 'Futura PT', sans-serif;
  overflow: hidden;
  margin: 0;
  color: #fff;

  /*background-image: linear-gradient(45deg , #2a2b30 ,#F3E367 50%, #929D9E 50%, #2a2b30);*/
  background-image: url('../../assets/img/back7.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #fff;
  outline: none;
}

a:hover {
  color: #ddd;
}

.container {
  overflow-y: auto;
  height: 100vh;
}


/* Blueprint header */

.bp-header {
  display: -webkit-flex;
  display: flex;
}

.bp-header__main {
  margin: 0 0 0 auto;
  padding: 2em 3em 0;
  text-align: right;
}

.bp-header__title {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.3;
  margin: 0.25em 0 0;
}

.bp-header__present {
  font-size: 0.75em;
  font-weight: 700;
  position: relative;
  z-index: 100;
  display: block;
  margin: 0 -8px 0 0;
  padding: 0 0 0.6em 0;
  text-indent: 3px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #25FFFF;
}

.bp-tooltip:after {
  position: relative;
  top: -8px;
  left: -8px;
  display: inline-block;
  width: 0;
  height: 0;
}

.bp-tooltip:hover:before {
  content: attr(data-content);
  font-size: 110%;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  top: 1.5em;
  right: 0;
  width: 50vw;
  padding: 0.8em 1em;
  text-align: right;
  text-indent: 0;
  letter-spacing: 0;
  text-transform: none;
  color: #fff;
  background: #25FFFF;
}

.bp-nav {
  margin: 0.5em 0 0 auto;
  text-align: right;
}

.bp-nav__item {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin: 0 0.1em;
  text-align: left;
  border-radius: 50%;
}

.bp-nav__item > span {
  display: none;
}

.bp-nav__item:hover:before {
  content: attr(data-info);
  font-size: 0.85em;
  font-weight: bold;
  position: absolute;
  top: 120%;
  right: 0;
  width: 600%;
  text-align: right;
  pointer-events: none;
  color: #fff;
}

.bp-nav__item:hover {
  background: #25FFFF;
}

.bp-icon:after {
  font-family: 'bpicons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  color: #25FFFF;
  -webkit-font-smoothing: antialiased;
  speak: none;
}

.bp-nav .bp-icon:after {
  line-height: 2.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: 0;
}

.bp-nav a:hover:after {
  color: #fff;
}

.ranking {
  padding-left: 190px;
}

.votos {
  padding-left: 207px;
}

.bp-icon--next:after {
  content: '\e000';
}

.bp-icon--drop:after {
  content: '\e001';
}

.bp-icon--archive:after {
  content: '\e002';
}

.bp-icon--about:after {
  content: '\e003';
}

.bp-icon--prev:after {
  content: '\e004';
}

.dummy-logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 120px;
  padding: 1em 0 0 0;
  text-align: center;
  color: #fff;
  background: #260538;
}

#status{
  margin-left: 20px;
}

.dummy-icon {
  font-size: 4em;
}

.dummy-heading {
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content {
  position: relative;
  min-height: 300px;
  margin: 0 0 0 300px;
}

p {
  text-align: initial;
  /*margin-left: 15px;*/
}



h5 {
  margin-top: -7px;
  text-align: initial;
  margin-left: 15px;
  font-size: inherit;
}

.products {
  margin: 0;
  padding: 0em;
  text-align: center;
}

.product {
  box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c81854;
  display: inline-block;
  width: 310px;
  /*height: 500px;*/
  margin: 10px;
  border-radius: 5px;
  background: #1c1d22;
}

button#btnVotar {
  margin-left: 80px;
  /* position: relative; */
}

.title{
  font-family: Futura;
  font-size: x-large;
}

.subtitle{
  font-family: Futura;
  font-size: medium;
  margin-top: 10px;
}



button#btnVotoSim {
   /*margin-left: 83px;*/
   /* position: relative; */
 }

button#btnVotoNao {
  margin-left: 80px;
  /* position: relative; */
}

.product .top img{
  box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c81854;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 800px;
  /*background: #1c1d22;*/
}

.product .footer2 {
  /*width: 200px;*/
  display: flex;
  flex-direction: row;
  /*display: inline-block;*/
  /*height: 200px;*/
  border-radius: 5px;
}

.product .footer {
  /*display: flex;*/
  display: inline-block;
  width: 298px;
  /*height: 200px;*/
  border-radius: 5px;
}

.product .footer2 .musicDescription {
  flex: 4;
  display: flex;
  /*width: 280px;*/
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  padding: 10px;
}

.product .footer2 .musicDescription img {
  box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c81854;
  display: inline-block;
  width: 50px;
  height: 50px;
  /*margin-top: 20px;*/
  margin-bottom: 10px;
  border-radius: 800px;
}

.product .footer2 .musicDescription p {
  margin-top: 0px;
  margin-bottom: 0px;
}


.product .footer2 .musicDescription h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}


.product .footer2 .artistDescription {
  display: flex;
  flex-direction: row;
  flex: 4;
  /*width: 280px;*/
  /*align-items: center;*/
  padding: 10px;
}

.product .footer2 .artistDescription .artistImg {
  flex: 1;
  display: flex;
  flex-direction: row;
  /*box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);*/
  /*border: 1px solid #c81854;*/
  /*display: inline-block;*/
}

.product .footer2 .artistDescription .nomeArtista {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  /*margin-bottom: 0px;*/
}

.product .footer2 .artistDescription .artistImg img {
   box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c81854;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 800px;
}

.product .footer2 .artistDescription p {
  margin-top: 0px;
  margin-bottom: 0px;
}




.product .footer2 .artistDescription h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}









.product .footer2 .voteDescription {
  display: flex;
  flex-direction: row;
  flex: 4;
  /*width: 280px;*/
  /*align-items: center;*/
  padding: 10px;
}

.product .footer2 .voteDescription .artistImg {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);*/
  /*border: 1px solid #c81854;*/
  /*display: inline-block;*/
}

.product .footer2 .voteDescription .nomeArtista {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  /*margin-bottom: 0px;*/
}

.product .footer2 .voteDescription .artistImg img {
  box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c81854;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 800px;
}

.product .footer2 .voteDescription p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.product .footer2 .voteDescription h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}


.product .footer2 .ok {
  flex: 1;
  display: flex;
  /*width: 30px;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.product .footer2 .ok img {
  box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c81854;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 800px;
}

.product .footer .description p{

  margin-left: 15px;
}

.product .footer .posicao {
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  border-radius: 50%;
  width: 152px;
  /*height: 152px;*/
  margin: 50px auto;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.product .content .posicao h4 {
  margin: 5px 0 0;
  font-size: 36px;
}
.product .content .posicao h6 {
  /*margin-top: 45px;*/
  font-size: 16px;
}
.product .content .posicao .currency {
  font-size: 22px;
  font-weight: normal;
}

.product .foodicon {
  font-size: 4em;
  line-height: 190px;
  color: #3b3d4a;
}

.product .footer .btn-center .button.btn.fourth {

}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: auto;
  display: table-cell;
  width: 310px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Futura PT', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.fourth {
  box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  /*margin-top: 1px;*/
  /* text-align: center; */
  /*margin-left: 65px;*/
  margin: auto;
  margin-bottom: 10px;
  /*border-color: #f1c40f;*/
  border-color: #c81854;
  color: #c81854;
  /*background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);*/
  background-image: linear-gradient(45deg, #c81854 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
  color: #fff;
}

.info {
  font-size: 1.1em;
  font-weight: bold;
  padding: 20vh 1em 0;
  text-align: center;
  color: #47484c;
}

body #cdawrap {
  top: auto;
  bottom: 15px;
  background: rgba(0, 0, 0, 0.1);
}

body #cdawrap .carbon-text {
  color: #fff;
}

body #cdawrap a.carbon-poweredby {
  color: #25FFFF;
}

body #cdawrap a:hover.carbon-poweredby {
  color: #fff;
}

@media screen and (max-width: 40em) {
  .bp-header {
    padding-top: 3em;
  }
  .bp-header__main,
  .bp-nav {
    width: 100%;
    text-align: center;
  }
  .dummy-logo {
    display: none;
  }
  .content {
    margin: 0;
  }
  body,
  .container {
    height: auto;
    overflow: auto;
  }
}

p {
  margin-bottom: 20px;
  margin-top: 20px;
}

/*@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');*/
/** {*/
/*margin: 0;*/
/*padding: 0;*/
/*box-sizing: border-box;*/
/*}*/
/*html, body {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
/*body {*/
/*background: #252525;*/
/*}*/
.container_input {
  position: relative;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}

.container_input_text {
  /*background-color: #c81854;*/
  padding: 10px;
  /*box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);*/
  position: relative;
  margin: auto;
  margin-top: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  /*height: 100px;*/
}

input#inputSearchAll {
  height: 60px;
}
p.title {
  font-weight: bold;
}

#titulo{
  font-weight: lighter !important;
  font-size: larger;
}

.container_input_home {
  padding-left: 42px;
  padding-right: 42px;
  /*height: 100px;*/
}

strong{
  color: #c81854;
}

.container_input_home p{
  margin-bottom: 0px;
  margin-top: 0px;
  align-self: center;
  font-family: 'Futura PT';
  font-size: x-large;
}

.pRosa{
  color: #c81854;
}

.container_input_home h4 {
  font-family: 'Futura PT';
  font-size: 25px;
  font-weight: lighter;
}



.container_input_home .imagemFesta img{

  align-self: center;
  text-align: center;

}






.container_input_text2 {
  /*background-color: #c81854;*/
  /*padding: 10px;*/
  /*box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);*/
  position: relative;
  margin: auto;
  margin-top: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  /*height: 100px;*/
}

.container_input_button {
  position: relative;
  margin: auto;
  margin-top: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  /*height: 120px;*/
}

.container_input_text p{
  align-self: center;
  text-align: center;

}
.container_input .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: #c81854;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container_input .search:hover {
  cursor: pointer;
}
.container_input .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.container_input .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.container_input input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #25FFFF;
  color: black;
  text-shadow: 0 0 10px #25FFFF;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #25FFFF, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container_input input:hover {
  cursor: pointer;
}
.container_input input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.container_input input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.container_input input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container_input input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container_input input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

#logo151{

}

@media (min-width: 320px){
  .products{
    /*margin-left: 5px;*/
  }
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 2.3rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}


@media (min-width: 330px){
  .products{
    margin-left: 6px;
  }
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 2.7rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}

@media (min-width: 340px){
  /*.products{*/
    /*margin-left: -1.9rem;*/
  /*}*/
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 3.1rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}

@media (min-width: 350px){
  /*.products{*/
    /*margin-left: -1.5rem;*/
  /*}*/
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    /*margin-left: 3.5rem;*/
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}



@media (min-width: 350px){
  /*.products{*/
    /*margin-left: -1.5rem;*/
  /*}*/
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 3.3rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}

@media (min-width: 360px){
  /*.products{*/
    /*margin-left: -1.1rem;*/
  /*}*/
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 3.6rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}

@media (min-width: 370px){
  /*.products{*/
    /*margin-left: -0.7rem;*/
  /*}*/
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 3.9rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}



@media (min-width: 375px){
  /*.products{*/
    /*margin-left: -0.3rem;*/
  /*}*/
  #buscar{
    margin-left: 6.7rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 4.1rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 4rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }
  .status{
    margin-left: 4.4rem;
  }
}


@media (min-width: 380px){
  /*.products{*/
    /*margin-left: -0.3rem;*/
  /*}*/
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 4.2rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}

@media (min-width: 390px){
  /*.products{*/
    /*margin-left: 0.1rem;*/
  /*}*/
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 4.5rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}


@media (min-width: 400px){
  /*.products{*/
    /*margin-left: 0.5rem;*/
  /*}*/
  #buscar{
    margin-left: 5rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 4.8rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 2.3rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }

}

@media (min-width: 414px){
  /*.products{*/
    /*margin-left: 0.1rem;*/
  /*}*/
  #buscar{
    margin-left: 8rem;
    margin-top: 10px;
  }
  #voltarBtn{
    margin-left: 5.7rem;
    margin-top: 10px;
  }
  #simpleForm {
    margin-left: 5.2rem;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }
}

button#voteSim {
  margin-left: 85px;
}
button#voteNao {
  margin-left: 80px;
}

button#posVotar {
  margin-left: 80px;
}

.form__field {
  box-shadow: 0 0 25px 0 #c81854, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c81854;
  font-size: medium;
  width: 310px;
  border-radius: 10px;
  background: white;
  color: #a3a3a3;
  font: inherit;
  /*box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);*/
  /*border: 0;*/
  outline: 0;
  padding: 22px 18px;
  color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c81854;
  /*opacity: 1; !* Firefox *!*/
}

input[type="text"]
{
  font-size:20px;
}



/*#simpleForm {*/
/*margin-left: 60px;*/
/*width: 250px;*/
/*margin-bottom: 20px;*/
/*border-radius: 10px;*/
/*padding: 20px;*/
/*}*/

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

.swal-button {
  background-color: #c81854 !important;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  margin: 0;
  cursor: pointer;
}
