<body>
<!-- Main container -->
<div class="container">
  <!-- Blueprint header -->
  <header class="bp-header cf">
    <div class="dummy-logo">
      <img src="assets/img/jukebox_logo.png" style="height: 60px; width: 60px">
      <h2 class="dummy-heading">Jukebox Party</h2>
    </div>
    <div class="bp-header__main">
      <span class="bp-header__present">lab151</span>
      <img src="assets/img/jukebox_logo.png" style="height: 60px; width: 60px">
      <h1 class="bp-header__title">Jukebox Party</h1>
    </div>
  </header>
  <button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
  <nav id="ml-menu" class="menu">
    <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
    <div class="menu__wrap">
      <ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="Todos">
        <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">Votação</a></li>
        <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1" href="#">Escolha uma música</a></li>
      </ul>
      <!-- Submenu 1 -->
      <ul  data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu"
          aria-label="votacao">
        <li (click)="modifyStatePlaylistPick('rock')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                  aria-owns="submenu-1-1" href="#">Rock</a></li>
        <li (click)="modifyStatePlaylistPick('pop')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                  aria-owns="submenu-1-1" href="#">Pop</a></li>
        <li (click)="modifyStatePlaylistPick('indie')" class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"
                                                  aria-owns="submenu-1-2" href="#">Indie</a></li>
        <!--<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"-->
        <!--aria-owns="submenu-1-1" href="#">Sale %</a></li>-->
      </ul>
      <!-- Submenu 1-1 -->
      <ul data-menu="submenu-1-1" id="submenu-1-1" class="menu__level" tabindex="-1" role="menu"
          aria-label="Sale %">
        <li class="menu__item" (click)="modifyStatePlaylistVote('artista')" role="menuitem"><a class="menu__link" href="#">Por artista</a></li>
        <li class="menu__item" (click)="modifyStatePlaylistVote('musica')" role="menuitem"><a class="menu__link" href="#">Por música</a></li>
      </ul>


      <!-- Submenu 2 -->
      <ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu"
          aria-label="escolha-uma-musica">

        <li (click)="modifyStatePlaylistPickView('rock')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Rock</a></li>
        <li (click)="modifyStatePlaylistPickView('indie')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Indie</a></li>
        <li (click)="modifyStatePlaylistPickView('pop')" class="menu__item" role="menuitem"><a class="menu__link" href="#">Pop</a></li>
        <!--<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1"-->
        <!--aria-owns="submenu-1-1" href="#">Sale %</a></li>-->
      </ul>

    </div>
  </nav>
  <div class="content">
    <div id="status">
      <p>{{status}}</p>
      <p>{{status2}}</p>
    </div>

    <div *ngIf="openSearchInput()">
    <form   #formPickSearch="ngForm" (ngSubmit)="search(formPickSearch.value)">


    <div  class="container_input">
      <input ngModel name="inputSearch" type="text">
      <div class="search"></div>
    </div>
    <div class="container_input">
      <button type="submit" class="btn fourth">Buscar</button>
    </div>
    </form>
      <div class="btnVoltar">
        <button *ngIf="byMusic()" (click)="voltar()" id="voltarBtn"  class="btn fourth">Voltar</button>
      </div>
    </div>



    <!--block Escolha por Artistas-->
    <ul  *ngIf="openArtistasTable()" id="searchArtists" class="products">
      <li *ngFor="let artist of artists" class="product">
        <div class="top">
          <img src={{artist.photoUri}}>
        </div>
        <div class="footer">
          <div class="description">
            <p ></p>
            <h5>Artista</h5>
            <p id="artistName">{{artist.name}}</p>
            <p> <b class="votos"></b></p>
          </div>
          <div class="footer btn-center">
            <button (click)="topTracksArtist(artist)" id="escolherArtista" class="btn fourth">Escolher</button>
          </div>
        </div>
      </li>
    </ul>


    <!--block Top Tracks Artist-->
    <ul  *ngIf="openTopTracksArtist()"  class="products">
      <li *ngFor="let music of musicsTopTracks" class="product">
        <div class="top">
          <img src={{music.photoUri}}>
        </div>
        <div class="footer">
          <div class="description">
            <p ></p>
            <h5>Música</h5>
            <p>{{music.name}}</p>
            <p> <b class="votos"></b></p>
          </div>
          <div class="footer btn-center">
            <button (click)="showCardFinalEscolha(music)" id="escolherMusicaTopTracks" class="btn fourth">Escolher</button>
          </div>
        </div>
      </li>
    </ul>

    <!--block Filtro Musica por artista-->
    <ul  *ngIf="openTracksArtisFilter()"  class="products">
      <li *ngFor="let music of musicsFilterArtist" class="product">
        <div class="top">
          <img src={{music.photoUri}}>
        </div>
        <div class="footer">
          <div class="description">
            <p ></p>
            <h5>Música</h5>
            <p>{{music.name}}</p>
            <p> <b class="votos"></b></p>
          </div>
          <div class="footer btn-center">
            <button (click)="showCardFinalEscolha(music)" id="escolherMusicaByArtist" class="btn fourth">Escolher</button>
          </div>
        </div>
      </li>
    </ul>

    <!--block Card Final Escolha-->
    <ul *ngIf="openCardEscolha()" class="products">
      <li id="escolhaFinal" class="product">
        <div class="top">
          <img src="{{fotoMusicaEscolhida}}">
        </div>
        <div class="footer">
          <div class="description">
            <p >{{artistaEscolhido}}</p>
            <h5>Música</h5>
            <p>{{musicEscolhida}}</p>
            <p>Sua escolha para discotecar é essa?</p>
          </div>
          <div class="footer btn-center">
            <button (click)="pickSim()"  id="confirmar" class="btn fourth">Sim</button>
            <button (click)="pickNao()"  id="cancelar" class="btn fourth">Não</button>
          </div>

        </div>
      </li>
    </ul>

    <!--block Musics Playlists-->
    <ul *ngIf="openMusicPlaylistOpen()" class="products">
      <li *ngFor="let music of musicsPlaylists; let i = index" class="product">
        <div class="top">
          <img src={{music.photoUri}}>
        </div>
        <div class="footer">
          <div class="description">
            <p>{{music.artist}}</p>
            <h5>{{music.name}}</h5>
            <p>Ranking <b class="ranking">{{i + 1}}</b></p>
            <p>Votos <b class="votos">{{music.likes}}</b></p>
          </div>
          <div class="footer btn-center">
            <button (click)="votar(music)" class="btn fourth">Vote</button>
          </div>
        </div>
      </li>
    </ul>


    <!--block Vote Card-->
    <ul  *ngIf="openVoteCard()"class="products">
      <li id="voteCard" class="product">
        <div class="top">
          <img src={{musicVotedPhotoUri}}>
        </div>
        <div class="footer">
          <div class="description">
            <p>{{musicVotedArtist}}</p>
            <h5>{{musicVotedName}}</h5>
            <p> Certeza que irá votar nessa música?</p>
            <!--<p> <b class="votos">{{music.likes}}</b></p>-->
          </div>
          <div class="footer btn-center">
            <button (click)="voteSim()" class="btn fourth">Sim</button>
            <button (click)="voteNao()" class="btn fourth">Não</button>
          </div>
        </div>
      </li>
    </ul>


    <!--block Search Music-->
    <ul *ngIf="openSearchMusic()" class="products">
      <li *ngFor="let music of musicsBytrack; let i = index" class="product">
        <div class="top">
          <img src={{music.photoUri}}>
        </div>
        <div class="footer">
          <div class="description">
            <p>{{music.artist}}</p>
            <h5>{{music.name}}</h5>
            <p> <b class="ranking"></b></p>
            <p><b class="votos"></b></p>
          </div>
          <div class="footer btn-center">
            <button (click)="showCardFinalEscolha(music)" id="escolherPorMusica" class="btn fourth">Escolher</button>
          </div>
        </div>
      </li>
    </ul>


  </div>
</div>

</body>
